.page-product {
	display: flex;
	margin-bottom: 90px;
	// .page-product__sliders

	&__sliders {
		flex: 0 0 760px;
	}

	// .page-product__info

	&__info {
		//flex: 0 0 auto;
		padding: 61px 0 0 144px;
	}
}
.sliders-product {
	display: flex;
	// .sliders-product__thumbs
	&__thumbs {
		width: 70px;
		margin-right: 15px;
	}
	// .sliders-product__thumb
	&__thumb {
		cursor: pointer;

		img {
			pointer-events: none;
		}
		&:not(:last-child) {
			margin-bottom: 15px;
		}
		&_current {
			border-bottom: 2px solid #000;
		}
	}

	// .sliders-product__main
	&__main {
		flex: 0 0 675px;
		padding-bottom: 113%;
		background: url('../img/product/slide1.jpg') 100%/100% no-repeat;
	}
}

.info-product {
	// .info-product__prop
	&__prop {
		display: inline-block;
		font-size: 10px;
		line-height: 1.2;
		font-weight: 900;
		text-transform: uppercase;
		color: #111111;
		margin-bottom: 15px;
		padding-left: 15px;
		background: url('../img/icons/best.png') left center no-repeat;
	}

	// .info-product__title
	&__title {
		font-size: 24px;
		line-height: 1.2;
		font-weight: 500;
		margin-bottom: 12px;
	}

	// .info-product__rate
	&__rate {
		display: flex;
		align-items: center;
		margin-bottom: 27px;
		img {
			width: 60px;
			margin-right: 5px;
			margin-bottom: 2.5px;
		}
		span {
			display: inline-block;
			font-size: 13px;
			font-weight: 500;
			color: #858585;
		}
	}

	// .info-product__price
	&__price {
		margin-bottom: 25px;
	}

	// .info-product__descr
	&__descr {
		font-size: 13px;
		line-height: 20px;
		font-weight: 500;
		margin-bottom: 50px;
	}
	// .info-product__btn
	&__btn {
		width: 100%;
		height: 58px;
		font-size: 10px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		color: #151515;
		background-color: #f2f2f2;
		transition: all 0.3s;
		&:hover {
			color: #fff;
			background-color: #151515;
		}
		// .info-product__btn_tocard
		&_tocart {
			color: #fff;
			background-color: #151515;
			margin-bottom: 10px;
			&:hover {
				color: #151515;
				background-color: #f2f2f2;
			}
		}
		&_wishlist {
			margin-bottom: 60px;
		}
	}
	// .info-product__button
	&__button {
		margin-bottom: 20px;
	}
	&__social {
		display: flex;
		align-items: center;
		span {
			font-size: 10px;
			font-weight: 700;
			text-transform: uppercase;
			color: #858585;
			margin-right: 10px;
		}
	}
}
.info-price {
	display: flex;
	align-items: flex-end;
	// .info-price__current
	&__current {
		font-size: 24px;
		font-weight: 700;
		margin-right: 20px;
	}

	// .info-price__old
	&__old {
		font-size: 16px;
		line-height: 1.2;
		font-weight: 500;
		color: #959595;
		text-decoration: line-through;
	}
}
.info-filter {
	// .info-filter__color
	&__color {
	}
	&__size {
	}
}
.filter-color {
	margin-bottom: 28px;
	// .filter-color__title
	&__title {
		font-size: 10px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		color: #858585;
		margin-bottom: 18px;
		span {
			display: inline-block;
			color: #000;
			margin-left: 5px;
		}
	}

	// .filter-color__list
	&__list {
		display: flex;
	}

	// .filter-color__item
	&__item {
		&:not(:last-child) {
			margin-right: 14px;
		}
	}

	// .filter-color__btn
	&__btn {
		position: relative;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		&::before {
			position: absolute;
			content: '';
			top: 50%;
			left: 50%;
			width: 30px;
			height: 30px;
			border: 1px solid #ccc;
			border-radius: 50%;
			transform: translate(-50%, -50%);
			transition: all 0.3s;
		}
		&:hover {
			&::before {
				border: 1px solid #000;
			}
		}
		&_active {
			&::before {
				border: 1px solid #000;
			}
		}
	}
}
.filter-size {
	margin-bottom: 55px;
	// .filter-size__title
	&__title {
		font-size: 10px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		color: #858585;
		margin-bottom: 13px;
		span {
			display: inline-block;
			color: #000;
			margin-left: 5px;
		}
	}

	// .filter-size__item
	&__item {
		&:not(:last-child) {
			margin-right: 5px;
		}
	}
	&__list {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
	}

	// .filter-size__btn
	&__btn {
		width: 42px;
		height: 32px;
		font-size: 13px;
		line-height: 1.2;
		font-weight: 500;
		color: #858585;
		border: 1px solid #ccc;
		transition: all 0.3s;

		&:hover {
			color: #000;
			border: 1px solid #000;
		}
		&_active {
			color: #000;
			border: 1px solid #000;
		}
	}
	// .filter-size__clear
	&__clear {
		display: none;
		font-size: 10px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		color: #d24242;
		cursor: pointer;
	}
}
.stepper {
	display: flex;
	align-items: center;
	height: 58px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	// .stepper__btn
	&__btn {
		width: 44px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			display: block;
			width: 12px;
			height: 12px;
			fill: #858585;
			transition: fill 0.3s;
		}
		&:hover {
			svg {
				fill: #151515;
			}
		}
		&_disabled {
			opacity: 0.4;
			pointer-events: none;
		}

		// .stepper__btn_minus
		&_minus {
		}

		// .stepper__btn_plus
		&_plus {
		}
	}

	// .stepper__input
	&__input {
		flex-grow: 1;
		text-align: center;
		border: none;
		font-size: 13px;
		color: #000;
		font-weight: 700;
		text-transform: uppercase;
	}
}
.button-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	// .button-product__item
	&__item {
		font-size: 10px;
		font-weight: 700;
		text-transform: uppercase;
		span {
			color: #858585;
			margin-right: 5px;
		}
	}
}
.product-text {
	display: flex;
	margin-bottom: 60px;
	// .product-text__description
	&__description {
		flex: 0 0 215px;
		height: 205px;
		margin-right: 40px;
	}

	// .product-text__content
	&__content {
		//flex: 0 0 80%;
	}
}
.description-text {
	// .description-text__nav
	&__nav {
		padding: 36px 0;
	}

	// .description-text__item
	&__item {
		&:not(:last-child) {
			margin-bottom: 53px;
		}
	}

	// .description-text__link
	&__link {
		font-size: 15px;
		font-weight: 700;
		color: #858585;
		&_active {
			color: #151515;
		}
	}
}
.content-product {
	// .content-product__one
	&__one {
		padding: 0 80px;
		display: none;
		&_active {
			display: block;
		}
		p {
			font-size: 13px;
			line-height: 26px;
			font-weight: 500;

			padding-bottom: 30px;
		}
	}
}
.related-roducts {
	overflow: hidden;
	margin-bottom: 75px;
	&__title {
		font-size: 24px;
		line-height: 26px;
		font-weight: 500;
		margin-bottom: 40px;
	}
}
.related-slider {
	margin-bottom: 70px;
	// .related-slider__nav
	&__pag {
		display: flex;
		align-items: center;
		margin-bottom: 30px;
		.swiper-pagination-bullet {
			position: relative;
			width: 20px;
			height: 20px;
			background-color: inherit;
			&:before {
				position: absolute;
				top: 7px;
				left: 7px;
				content: '';
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: #151515;
			}
			&:not(:last-child) {
				margin-right: 15px;
			}
		}
		.swiper-pagination-bullet-active {
			background-color: #ccc;
		}
	}
}
